[submodule "DAIO/CONTRACTS/lib/forge-std"]
	path = DAIO/CONTRACTS/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "daio/contracts/bonding/lib/openzeppelin-contracts"]
	path = daio/contracts/bonding/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "daio/contracts/bonding/lib/prb-math"]
	path = daio/contracts/bonding/lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
[submodule "daio/contracts/bonding/lib/forge-std"]
	path = daio/contracts/bonding/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
